@font-face {
  font-family: "DreamOrphans";
  src: url(../fonts/DreamOrphans.ttf);
}

@font-face {
  font-family: "KeepCalm";
  src: url(../fonts/KeepCalm.ttf);
}

@font-face {
  font-family: "Kiona";
  src: url(../fonts/Kiona.ttf);
}

@font-face {
  font-family: "Sequel";
  src: url(../fonts/Sequel.ttf);
}
